
.footer {
    width: 100%;
    height: auto;
}

.footer > * {
    color: white;
}

.footer h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer p {
    margin-bottom: 2rem;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer ul li {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.footer ul li a {
    color: white;
    font-size: 20px;
}

.footer ul li:hover {
    border: 1px solid transparent;
    transform: scale(1);
}

.footer ul li a:hover {
    text-decoration: none;
}

.footer ul li:nth-of-type(1) a:hover {
    color: rgb(63, 112, 167);
    transform: scale(2);
}

.footer ul li:nth-of-type(2) a:hover {
    color: rgb(27, 76, 132);
    transform: scale(2);
}

.footer ul li:nth-of-type(3) a:hover {
    color: rgb(94, 27, 132);
    transform: scale(2);
}

.footer ul li:nth-of-type(4) a:hover {
    color: rgb(26, 158, 198);
    transform: scale(2);
}

.footer ul li:nth-of-type(5) a:hover {
    color: rgb(198, 123, 26);
    transform: scale(2);
}

/* Trademark */

.trademark {
    margin-top: 3rem;
}

@media screen and (max-width:594px) {
    .trademark {
        text-align: center;
    }
}